<div class="container my-5">
    <h2 class="text-center mb-4">Lista de Productos</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each prods.docs}}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">{{this.name}}</h3>
                    <p class="card-text text-muted">{{this.description}}</p>
                    <p class="text-success fw-bold">${{this.price}}</p>
                    <button class="btn btn-primary w-100 mt-3">Agregar al Carrito</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>